@page "/auth"

<h3>Регистрация</h3>

<form>
    <!-- Поля для ввода данных регистрации -->
    <div>
        <label>Имя</label>
        <input type="text" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" />
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
